:root {
  --primaryColor: #23252c;
  --secondaryColor: #1a1b21;
  --tertiaryColor: #161619;
  --textLight: rgba(255, 255, 255, 0.737);
  --textGolden: #f3bf99;
  --buttonColor: #5093e2;
  --redBackground: #f55a5a;
  --purpleBackground: #672280;
}

body {
  background-color: var(--primaryColor);
  margin: 0;
  font-family: "Inter", sans-serif;
}
