.travelJournal-section {
  background-color: #fff;
  border-radius: 10px;
  margin: 3vw;
  padding-bottom: 5px;
}

.journal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--redBackground);
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 30px;
}

.earth-icon {
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.journal-title {
  font-size: 1.25rem;
  margin: 0 5px;
}
